/* Reset et styles de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
   line-height: 1.6;
  transition: background-color 0.4s, color 0.4s;
}


/* Container principal */
.container {
  max-width: 900px;
  width: 100%;
  padding: 25px;
  margin: 60px auto;
  border-radius: 12px;
  border: 2px solid #E49BA6;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  
}

/* Layout form + image */
.form-image-wrapper {
  display: flex;
  gap: 30px;
}

/* Section Form */
.form-section {
  flex: 1;
}

h1 {
  color: #540863;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #540863;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1.5px solid #92487A;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

input:focus, select:focus {
  border-color: #540863;
  box-shadow: 0 0 4px #E49BA6;
}

button#btn {
  width: 100%;
  padding: 12px;
  background-color: #540863;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button#btn:hover {
  background-color: #92487A;
}

.hidden {
  display: none;
}

.center-text {
  text-align: center;
  margin-top: 20px;
}

/* Section Image */
.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  border-radius: 12px;
}

/* Responsive */
@media(max-width: 768px) {
  .form-image-wrapper {
    flex-direction: column;
  }
  .image-section {
    margin-top: 20px;
  }
  .carousel-track img {
    width: 150px;
    height: 90px;
  }
}
// les images au dessous du formulaire
.image-carousel {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-top: 60px;
  border-radius: 10px;
  
  border: 2px solid #E49BA6;
}

.carousel-track {
  display: flex;
  animation: scroll 15s linear infinite;
}

.carousel-track img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  margin-top:20px;
  margin-right: 10px;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #540863;
  color: white;
  animation: fadeUp 1s ease forwards;
  opacity: 0;
}

/* Animation auto-scroll */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* État en dark mode */
body.dark-mode {
  background-color: #540863 !important;
  color: #f5f5f5 !important;
}

body.dark-mode .container {
  background: #ffffff68;
  border: 2px solid #000000ff;
}
body.dark-mode p{
  color : #5b0456ff;
}
body.dark-mode a,
body.dark-mode h1,
body.dark-mode label {
  color : #fff;
}
body.dark-mode footer {
  background-color: #111;
}

